@charset "utf-8";
/* CSS Document */

html, body {
	margin:0;
}

button {
	border:none;
	outline:none;
}

#header {
	height: 171px;
	background:#68cbb7;
}

#appHeader {
	margin-top:94px;
	margin-left: 18px;
	display:inline-block;
}

#appIcon {
	height:56px;
	width:56px;
	vertical-align:middle;
}

#appTitle{
	display:inline-block;
	margin-left:22px;
	font-size:23px;
	color:white;
}

#description {
	margin: 39px 25px 5px 25px;
}

#interaction {
	text-align:center;
}

#interaction button {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#thumbsUp {
	height:53px;
	min-width:53px;
	border-radius:26.5px;
	border:2px solid #e0c284;
	background:#f9c11c;
	outline:none;
	width: calc(100% - 307px);
}

#thumbsUp img {
	width:20px;
}

#download {
	margin-top:19px;
	width:calc(100% - 112px);
	height:53px;
	background:#25a12e;
	border-radius:5px;
	color:white;
	font-size:17px;
}

#save {
	margin-top:19px;
	width:calc(100% - 112px);
	height:53px;
	background:#ff9b19;
	border-radius:5px;
	color:white;
	font-size:17px;
}

#comments {
	margin-top:49px;
}

#newComment {
	margin-left:18px;
	margin-right:18px;
	display:inline-block;
	width:calc(100% - 36px);
}

#newComment img {
	width:45px;
	height:45px;
	border-radius:22.5px;
	vertical-align:top;
}

#commentInput {
	margin:0;
	padding:0;
	height:74px;
	width:calc(100% - 51px);
}

#submitComment {
	float:right;
	text-align:center;
	width:74px;
	height:32px;
	margin-top:15px;
	padding:0;
	background:#33cc00;
	color:white;
}

#commentListTitle {
	padding:7px 22px 7px 22px;
	border-radius:5px;
	border: 2px solid #f3f3f3;
	margin:19px 8px 0 8px;
}

#commentList {
	display:inline-block;
	list-style:none;
	width:100%;
	padding:0;
	margin:13px 0 0 0;
}

.comment {
	border-top:1px solid #e9edec;
	padding-top:11px;
	padding-left:18px;
	padding-right:18px;
	background:#f2f6f5;
	vertical-align:top;
	font-size:15px;
}

.comment:last-child {
	border-bottom:1px solid #e9edec;
}

.commentContent {
	margin-left:54px;
}

.commentTitle {
	display:inline;
}

.commentTime {
	float:right;
	color:#d1766c;
}

.commentText {
	display:inline-block;
	text-align:justify;
}

.userImage {
	height:40px;
	width:40px;
	border-radius:20px;
	float:left;
}

#footer {
	text-align:center;
	width:100%;
	margin-bottom:37px;
}

#loadMore {
	width:calc(100% - 18px);
	height:35px;
	margin:0 auto;
	background:#f2f2f2;
	border:1px solid #a5a5a5;
	border-radius: 5px;
	font-size:17px;
}