@charset "utf-8";
/* CSS Document */

body, html {
	border: none;
	padding: 0px;
	margin: 0px;
}

.circular {
	width:260px;
	height:260px;
	border-radius:100%;
	margin-top:194px;
	border:8px solid #facba9;
	background:url(userimage.jpg) no-repeat scroll;
	background-size:260px 260px;
	display:inline-block;
}

.center {
	margin:0 auto;
	width:100%;
	text-align:center;
}

#loginContainer {
	margin-top:248px;
	
}

#loginWrapper {
	display:inline-block;
	border:1px solid #999;
	padding:5px 5px;
	border-radius:5px;
	width:464px;
	text-align:justify;
	height:80px;
}

#loginIcon {
	float:left;
	height:30px;
	margin: 26px 24px;
}



#inputWrapper {
	float:left;
	height:100%;
	width:360px;
}



#login {
	width:100%;
	border:none;
	padding:none;
	height:30px;
	margin-top:24px;
	font-size:30px;
}

#completeContainer {
	margin-top:96px;
	margin-bottom:310px;
}

#completeButton {
	width:464px;
	border:none;
	border-radius:5px;
	background:#f16703;
	height:80px;
}

.unpressed {
	box-shadow:2px 4px 4px #d05800;
}

.pressed {
	box-shadow:none;
}

#buttonText {
	color:white;
	font-size:40px;
	text-align:center;
}

#spacer {
	width:62px;
	display:inline-block;
}

:focus {
	outline:none;
}