@charset "utf-8";
/* CSS Document */

.circular {
	width:30%;
	border-radius:100%;
	margin-top:15vh;
	border:medium solid #facba9;
}

.center {
	margin:0 auto;
	width:100%;
	text-align:center;
	max-width:480px;
}

#loginContainer {
	padding-top:18.75vh;
	width:100%;
}

#loginIcon {
	vertical-align:text-middle;
	width:24px;
	padding-top:3px;
	padding-left:3px;
	position:absolute;
}

#loginWrapper {
	display:inline-block;
	border:1px solid #999;
	padding:5px 5px;
	border-radius:5px;
	width:65%;
	max-width:65%;
	text-align:justify;
}

#inputWrapper {
	margin-left:40px;
}

#login {
	width:100%;
	border:none;
}

#completeContainer {
	margin-top:10vh;
}

#completeButton {
	width:calc(65% + 8px);
	height:34px;
	border:none;
	border-radius:5px;
	background:#f16703;
}

#buttonText {
	color:white;
	font-size:2em;
	text-align:center;
}

#spacer {
	width:2em;
	display:inline-block;
}

input:focus {
	outline:none;
}